/* homepage */

.logo-sm {
  height: 64px;
  width: auto;
}

.logo-md {
  height: 72px;
  width: auto;
}

.navbar-brand.vertical-center {
  display: flex;
  align-items: center;
}

.choose-us-list {
  width: 60%;
  margin: 0 auto;
}

.join-us-list {
  width: 54%;
  margin: 0 auto;
}

.choose-us-li {
  font-size: 1.25rem;
  padding: .25rem;
}

.choose-us-li::before, 
.mark-li::before {
  content: "✔︎";
  color: green;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  position: relative;
  left: -10px;
}

.w3l-testimonials .message {
  padding: 2rem;
}

.w3l-testimonials .img-stretch-hight {
  height: 100%;
  width: auto;
}

.w3l-testimonials .message p {
  font-size: 18px;
  line-height: 30px;
}

.w3l-footer-29-main .footer-29 {
  /* background-color: #218838; */
  background-color: #D5E9E2;
}

.w3l-footer-29-main h6.footer-title-29 {
  /* color: white; */
  color: #218838;
}

.w3l-footer-29-main .footer-list-29 p {
  color: #0c6246;
}

.w3l-footer-29-main .footer-list-29 ul li a {
  color: #0c6246;
}

/* about page */

.w3l-about1 .cwp23-title h3 {
  margin-bottom: 20px;
}

.w3l-about1 .cwp23-text-cols {
  grid-gap: 20px;
}

.w3l-about1 .column span {
  margin-bottom: 10px;
}

.w3l-about1 .cwp23-text-cols p {
  font-size: 15px;
}

.w3l-team .box16 .social {
  display: block;
  height: 150px;
}

.vgs-teach {
  text-align: center;
}

.vgs-teach h3 {
  color: var(--title-color);
  font-size: 2.5em;
  font-weight: 600; 
}

.vgs-teach p {
  font-weight: 600;
}

.w3l-quote p.looking-for {
  font-size: 1.25rem;
  font-weight: 600;
}

/* courses page */

.w3l-blog .list-view .grids5-info h4 a {
  text-overflow: unset;
}


.full-width-banner {
  width: 100%;
  height: auto;
}

.summer-programs-list li {
  font-size: 1.25rem;
  line-height: 1.8;
}

.font-gray {
  color: #666;
  line-height: 1.8;
}

.w3l-contacts-12 .contact p {
  font-size: 16px;
}

.w3l-login .form-input select,
.w3l-login .form-input input[type="email"],
.w3l-login .form-input input[type="password"],
.w3l-login .form-input input[type="text"],
.w3l-login .form-input input[type="date"] {
  background: #fff;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: 5px 10px;
  color: var(--title-color);
  -webkit-appearance: none;
  border: 1px solid #eee;
  border-radius: 4px; 
}

.w3l-login .form-inner-cont {
  max-width: 500px;
  margin: 20px auto;
}

.w3l-blog a.btn-news {
  color: var(--primary-darker);
}

.w3l-blog-single .w3l-text-style-17 .text-style-17_sur p.full-width {
  max-width: 100%;
}